<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>区块元素</title>
    <link rel="stylesheet" href="../css/index-bloack-element.css">
</head>
<body>
    <div>少先队辅导员是党的少年儿童思想政治工作者，是团干部队伍、中小学校思政课教师队伍的重要组成部分。</div>
    <div>少先队辅导员是党的少年儿童思想政治工作者，是团干部队伍、中小学校思政课教师队伍的重要组成部分。</div>
    <p>少先队辅导员是少先队员亲密的朋友和指导者，是少年儿童健康成长的引路人。</p>
    <span>共产主义接班人</span>
    <span>共产主义接班人</span>
    <span>共产主义接班人</span>
    <p>少先队辅导员是少先队员亲密的朋友和指导者，是少年儿童健康成长的引路人。</p>
    <a href="https://www.baidu.com">百度链接</a>
</body>
</html>