<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuyCart</title>
    <link rel="stylesheet" href="../css/index-test.css">
</head>
<body>
    <div class="logo">
        <img src="../images/cartHeader.png" alt="">
    </div>

    <div class="title">
        <div>
            <p class="sp"> 商品 </p>
        </div>
        <div>
            <p class="price"> 单价 </p>
        </div>
        <div>
            <p class="num"> 数量 </p>
        </div>
        <div>
            <p class="op"> 操作 </p>
        </div>
    </div>

    <div class="container">
        <div class="element">
            <div>
                <input class="checkbox" type="checkbox" name="hobby">
            </div>
            <div>
                <img class="image" src="../images/commodity_1.jpg" alt="">
            </div>
            <div>
                <p class="dscription"> 
                    【200克】男士外套秋冬加厚抓绒刺绣保暖摇粒绒运动上衣服 
                    <br>
                    尺码：L
                </p>
            </div>
            <div>
                <p class="price_value"> ￥159 </p>
            </div>
            <div class="number_value">
                <span class="num_box"> 
                    - <input class="input_box" type="text" name="number" placeholder="数量"  value="1">+
                </span>
            </div>
            <div>
                <p class="op_value"> 删除 </p>
            </div>
        </div>

    </div>
</body>
</html>