body {
    font-family: Arial, sans-serif;
    align-items: center;
    height: 100vh;
}

.header {
    width: 960px;
    height: 80px;
    border-bottom: 2px solid #e0e0e0;
}

.cart-title {
    width: 960px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin: 20px 0px;
}

.title-item {
    width: 380px;
    text-align: center;
}

.price-item {
    width: 290px;
    text-align: center;
}

.quantity-item {
    width: 190px;
    text-align: center;
}

.action-item {
    width: 100px;
    text-align: center;
}

.cart-items {
    width: 960px;
    margin: 20px 0;
}

.cart-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox {
    width: 15px;
    height: 15  px;
    margin: 0px 0px 0px 10px;
}

.product-img {
    width: 75px;
    height: 75px;
    margin: 0px 5px 0px 15px;
}

.product-description {
    width: 185px;
    font-size: 12px;
    margin: 0px 85px 0px 0px;
}

.product-price {
    width: 290px;
    color: #f2a6e7;
    font-weight: bold;
    margin: 0px 20px 0px 0px;
    text-align: center;
}

.product-quantity {
    width: 20px;
    border: 1px solid #e3e2e2;
    text-align: center;
}

.quantity-btn {
    display: flex;
    justify-content: space-between;
    width: 190;
    margin: 0px 55px 0px 55px;
}

.quantity-btn button {
    width: 30px;
    text-align: center;
    background-color: #f9f9f9;
}

.deduct {
    border: 1px solid #e3e2e2;
    background-color: #ffffff;
}

.add {
    border: 1px solid #e3e2e2;
    background-color: #ffffff;
}

/* 将箭头隐藏 */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
}


.delete-label {
    color: #f2a6e7;
    font-weight: bold;
    cursor: pointer;
    width: 100px;
    text-align: center;
}

#total-price {
    width: 960px;
    color: #f2a6e7;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0;
}
