/*
块级元素， display:block

1、宽度：默认100%
    独占一行
2、高度：默认0px
3、是否独占一行
    独占一行，无论后面有没有内容

*/


/*
行内元素，display: inline
1、宽度：默认auto
    由内容决定
2、高度：默认auto
    由字体大小决定（当前字体大小的默认行高）
3、是否独占一行
    如果紧挨着的有行内或行内块级元素则在同一行显示，两个行内元素的空格和换行都会被解析成一个空格渲染到页面上
4、是否可以正常设置内外边距
    内外边距具有值则生效
    同理内边距也是
    外边距只有左右生效，上下无效
    内边距只有左右生效，上下无效

*/

/* 
行内块级元素，display: inline
所有效果等同于块级元素，只是不换行显示
*/

span {
    /* font-size: 16px; */
    /* margin: 10px; */
    /* padding: 10px; */
    width: 100px;
    height: 100px;

    /* 转化为行内块级元素 */
    display: inline-block;

    /* 转化为块级元素 */
    /* display: block */
}