<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div id ="header" class="red"> 头部信息</div>
    <div class ="content"> 内容信息1</div>
    <div class ="content"> 内容信息2</div>
    <div class ="footer"> 底部信息</div>

    用户名：<input type="text" placeholder="请输入用户名" class="username" value="张三"> <br>
    密码：<input type="password" placeholder="请输入密码" class="password">
    <span class="password_mark red"> </span>
    <br>
    女：<input type="radio" class="female" name="gender" value="2">
    男：<input type="radio" class="male" name="gender" checked="checked" value="1">
    <button class="submit"> 注册</button>

    <br>
    多选：
    选项1：<input type="checkbox" class="checkbox" name="checkbox1" checked="check1"  value="1">
    选项2：<input type="checkbox" class="checkbox" name="checkbox2" value="2">
    选项3：<input type="checkbox" class="checkbox" name="checkbox3" value="3">
    选项4：<input type="checkbox" class="checkbox" name="checkbox4" value="4">

    <!-- js 外链位置 -->
    <script src="../js/index.js"></script>
</body>
</html>