<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ES6</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div class="box bg_red">

    </div>
    <!-- ES6 -->
    <script type="module">
        import * as p1 from "../js/public.js";
        // import {name, getName} from "../js/public.js";
        // 引用时需要起一个服务(live server)，否则文件系统是无法访问的
        console.log(p1.name);
    </script>
</body>
</html>