<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /* css 内嵌位置 */
    </style>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <!-- 行内代码 -->
    <!-- 绑定点击事件 -->
    <!-- alert() 内置弹窗函数 -->
    <!-- <button onclick="alert('Hello World')">Click Me</button> -->
    <button id="btn"> Click Me</button>

    <script>
        // js 内嵌位置
        // js给标签添加时间分为以下几步:
        // 1. 获取标签:document.getElementBy...
        // 2. 给标签添加事件:onclick, onblur...
        // 3. 添加事件处理函数
        // 4. 事件处理函数中编写业务逻辑
        // document.getElementById('btn').onclick = function(){
        //     alert('Hello World');
        // }
    </script>

    <script src="../js/index.js"></script>
</body>
</html>
